{extend name="base/base" /}
{block name="css"}

<style>
    .none{
        display: none;
    }
    #demo2>div{
        position: relative;
        display: inline-block;
        margin: 5px;
    }
    #demo2>div>img{
        height: 100px;
    }
    #demo2>div>.layui-icon-close{
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        color: #fff;
        font-weight: 800;
    }
    .layui-disabled{
        color: #676767!important;
    }
    .edui-container{
        z-index: 0!important;
    }
</style>
{/block}
{block name="main"}
<script type="text/javascript" src="__JSi__/jquery.min.js"></script>
<link href="__PLUGINS__/js/layui/css/layui.css" rel="stylesheet">
<link href="__PLUGINS__/js/zoomify/zoomify.min.css" rel="stylesheet">
<form id="form" method="post" class="layui-form layui-form-pane" action="{:url('/admin/messageEdit')}">
    <div class="layui-form-item">
        <label class="layui-form-label">发布渠道</label>
        <div class="layui-input-block">
            <select name="channel" lay-verify="required">
                <option value="">请选择发布渠道</option>
                {volist name="channel_list" id="vo"}
                <option value="{$vo}"  {if  isset($list.channel) && $list.channel==$vo} selected {/if} >{$vo}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" class="layui-input"
                   value="{:isset($list.title)?$list.title:''}" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <textarea id="tinydemo2" name="content">{:isset($list.content)?$list.content:''}</textarea>

        </div>
    </div>

    <input type="hidden" name="category" value="{$category}">
    <div class="layui-form-item">
        <div class="layui-upload">
            <button type="button" class="layui-btn" id="test2">图片上传</button>
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                预览图：
                <div class="layui-upload-list" id="demo2">

                    {if isset($list.image)}

                    {foreach $list.image as $key=>$vo }
                    <div>
                        <img src="__UPLOADS__/{$vo}" class="layui-upload-img">
                        <i class="layui-icon layui-icon-close"></i>
                        <input type="text" name="imgs[]" class="none" style="display: none" value="{$vo}">
                    </div>
                    {/foreach}
                    {/if}
                </div>



            </blockquote>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-upload">
            <button type="button" class="layui-btn" id="test3">附件上传</button>
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                附件：
                <div class="layui-upload-list" id="demo3">
                    {if !empty($list.enclosure)}
                    {foreach $list.enclosure as $key=>$vo }
                    <div>
                        <a href="__UPLOADS__/{$vo}" download="下载" class="aa">{$vo}</a>
                        <i class="layui-icon layui-icon-close"></i>
                        <input type="text" name="enclosure[]" class="none" style="display: none" value="{$vo}">
                    </div>
                    {/foreach}
                    {/if}
                </div>

            </blockquote>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">阅读数量</label>
        <div class="layui-input-block">
            <input type="text" name="pageview" class="layui-input"
                   value="{:isset($list.pageview)?$list.pageview:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">发布时间</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input create_time" name="create_time" value="{:isset($list.create_time)?$list.create_time:''}" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{:isset($list['id'])?$list['id']:''}">
            <input type="hidden" name="__token__" id="token" value="{$Request.token}"/>
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script type="text/javascript" src="__PLUGINS__/js/zoomify/zoomify.min.js"></script>
<script>
    tinymce.init({
        selector: '#tinydemo2',
        //skin:'oxide-dark',
        language:'zh_CN',
        plugins: 'print preview searchreplace autolink directionality visualblocks visualchars fullscreen image link media template code codesample table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount imagetools textpattern help paste emoticons autosave bdmap indent2em',
        toolbar: 'code undo redo restoredraft | cut copy paste pastetext | forecolor backcolor bold italic underline strikethrough link anchor | alignleft aligncenter alignright alignjustify outdent indent | \
                     styleselect formatselect fontselect fontsizeselect | bullist numlist | blockquote subscript superscript removeformat | \
                     table image media charmap emoticons hr pagebreak insertdatetime print preview | fullscreen | bdmap indent2em',
        height: 500, //编辑器高度
        /*content_css: [ //可设置编辑区内容展示的css，谨慎使用
            '/static/reset.css',
            '/static/ax.css',
            '/static/css.css',
        ],*/
        fontsize_formats: '12px 14px 16px 18px 24px 36px 48px 56px 72px',
        font_formats: '微软雅黑=Microsoft YaHei,Helvetica Neue,PingFang SC,sans-serif;苹果苹方=PingFang SC,Microsoft YaHei,sans-serif;宋体=simsun,serif;仿宋体=FangSong,serif;黑体=SimHei,sans-serif;Arial=arial,helvetica,sans-serif;Arial Black=arial black,avant garde;Book Antiqua=book antiqua,palatino;Comic Sans MS=comic sans ms,sans-serif;Courier New=courier new,courier;Georgia=georgia,palatino;Helvetica=helvetica;Impact=impact,chicago;Symbol=symbol;Tahoma=tahoma,arial,helvetica,sans-serif;Terminal=terminal,monaco;Times New Roman=times new roman,times;Verdana=verdana,geneva;Webdings=webdings;Wingdings=wingdings,zapf dingbats;知乎配置=BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;小米配置=Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif',
        image_class_list: [
            { title: 'None', value: '' },
            { title: 'Some class', value: 'class-name' }
        ],
        importcss_append: true,

        //为内容模板插件提供预置模板
        templates: [
            { title: '模板1', description: '介绍文字1', content: '模板内容' },
            { title: '模板2', description: '介绍文字2', content: '<div class="mceTmpl"><span class="cdate">CDATE</span>，<span class="mdate">MDATE</span>，我的内容</div>' }
        ],
        //
        template_cdate_format: '[CDATE: %m/%d/%Y : %H:%M:%S]',
        template_mdate_format: '[MDATE: %m/%d/%Y : %H:%M:%S]',
        image_caption: true,
        images_upload_url: '{:url("Message/newUpload")}',
        images_upload_base_path : 'http://test3.intelgice.com/assets/uploads/'
    });
</script>
<script>
    layui.config({
        base: '/form-select/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });
    layui.use(['form', 'jquery', 'formSelects', 'laydate','layedit'], function () {
        var formSelects = layui.formSelects, form = layui.form, $ = layui.jquery, laydate = layui.laydate;
        var layedit = layui.layedit;
        laydate.render({
            elem: '.create_time', //指定元素
            type: 'datetime',
        });

        layedit.set({
            uploadImage: {
                url: '{:url("Message/uploads")}' //接口url
                , type: 'post' //默认post
            }
        });

        // layedit.build('content'); //建立编辑器
        // var  index = layedit.build('content',{tool: ['strong', 'italic','underline','del','|','left','center','right','|','link','unlink','face','image','|','code']})
        //layedit.getContent(index)
        //表单提交
            //实例化编辑器
        // var $editor = $('#editor').editor();
        form.on("submit(*)", function (data) {
            var obj = $(this);
            data.field.content = tinymce.activeEditor.getContent();
            // console.log(tinymce.activeEditor.getContent());
            $.post(data.form.action, data.field, function (data) {
                var icon = 5;
                if (data.code) {
                    icon = 6;
                }
                layer.msg(data.msg, {icon: icon, time: 1500}, function () {   //提示的插件，可以使用alert代替
                    if (data.code) {
                       setTimeout(function () {
                            //刷新父页面
                           parent.location.reload()
                       }, 500);
                    } else {
                        $('#token').val(data.data.token);
                        obj.removeAttr("disabled").removeClass("layui-disabled");
                    }
                });
            }, 'json');
            return false;
        });
    });


    layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;
        var loadding_index = '';

        //多图片上传
        upload.render({
             elem: '#test2'
            ,url: '{:url("Message/upload")}'
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                   // $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                    loadding_index = layer.load();

                });
            }
            ,done: function(res){
                //上传完毕
                layer.close(loadding_index);
                if(res.errorCode== 0){
                    let innerhtml = '<div>' +
                        '<img src="__UPLOADS__/' + res.data.url + '" class="layui-upload-img">' +
                        '<i class="layui-icon layui-icon-close"></i>' +
                        '<input type="text" name="imgs[]" class="none" style="display: none" value="' + res.data.url + '">' +
                        '</div>';
                    $('#demo2').append(innerhtml)
                }else{
                    layer.msg(res.msg);
                }
                imgs_render();
            }
        });
        imgs_render();
        function imgs_render(){
            $('#demo2 .layui-upload-img').zoomify();
            $('#demo2>div>.layui-icon-close').click(function () {
                $(this).parent().remove()
            });
        }
    });

    layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;
        var loadding_index = '';

        //多图片上传
        upload.render({
            elem: '#test3'
            ,url: '{:url("Message/upload")}'
            ,multiple: true
            ,exts:'pdf|xlsx|doc|zip|ppt|docx|xls|avi|mp4|wmv'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    // $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                    loadding_index = layer.load();

                });
            }
            ,done: function(res){
                //上传完毕
                layer.close(loadding_index);
                if(res.errorCode== 0){
                    let innerhtml = '<div>' +
                        '<a href="__UPLOADS__/' + res.data.url + '" download=下载 class="aa" >' +res.data.url + '</a>'+
                        '<i class="layui-icon layui-icon-close"></i>' +
                        '<input type="text" name="enclosure[]" class="none" style="display: none" value="' + res.data.url + '">' +
                        '</div>';
                    $('#demo3').append(innerhtml)
                }else{
                    layer.msg(res.msg);
                }
                imgs_render();
            }
        });
        imgs_render();
        function imgs_render(){
            $('#demo3 .aa').zoomify();
            $('#demo3>div>.layui-icon-close').click(function () {
                $(this).parent().remove()
            });
        }
    });



</script>
{/block}